{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WHOIS and DNS Lookup</title>
    </head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body style="background-color:#1d2a35">
        <!--style="background-color:#302E2E"-->
        <h1 style="color:#FAFAFA">Domain Lookup</h1>
        <a style="color:#FAFAFA" href="/">Home</a>
        <form method="post">
            <br>
            <br>
            <br>
            <input type="text"
                   id="domain"
                   name="domain"
                   size="40"
                   value="{{ domain }}"
                   placeholder="domain.tld"
                   autocomplete="off">
            <br>
            <input type="submit" value="Lookup">
        </form>
        <div style="color: #FAFAFA">
            {% if e %}{{ e }}{% endif %}
        </div>
        {% if no_domain %}<div style="color:#FAFAFA ">Domain does not exist.</div>{% endif %}
        {% if domain_name %}
            <div class="row" style="color: #FAFAFA">
                <div class="column">
                    <ul class="no-bullets">
                        WHOIS lookup
                        <li>Domain Name: {{ domain_name }}</li>
                        <li>Registrar: {{ registrar }}</li>
                        <li>Updated Date: {{ updated_date }}</li>
                        <li>Creation Date: {{ creation_date }}</li>
                        <li>Expiration Date: {{ expiration_date }}</li>
                        <br>
                        <ul>
                            Name Servers
                            {% for ns in name_servers %}<li>{{ ns }}</li>{% endfor %}
                        </ul>
                        <br>
                        <ul>
                            Status
                            {% if status|length < 15 %}
                                {% for s in status %}<li>{{ s }}</li>{% endfor %}
                            {% else %}
                                <li>{{ status }}</li>
                            {% endif %}
                        </ul>
                    </ul>
                </div>
                <div class="column">
                    <ul class="no-bullets">
                        DNS records
                        <li>
                            <ul>
                                {{ domain_name }}
                                {% for a_record in blank_a %}<li>{{ a_record }}</li>{% endfor %}
                            </ul>
                        </li>
                        <br>
                        <li>
                            <ul>
                                www.{{ domain_name }}
                                {% for a_record in www_a %}<li>{{ a_record }}</li>{% endfor %}
                            </ul>
                        </li>
                        <br>
                        <li>
                            <ul>
                                MX records
                                {% for mx_record in mx %}<li>{{ mx_record }}</li>{% endfor %}
                            </ul>
                        </li>
                        <br>
                        <li>
                            <ul>
                                Name Servers
                                {% for dns_server in ns %}<li>{{ dns_server }}</li>{% endfor %}
                            </ul>
                        </li>
                        <br>
                        <li>
                            <ul>
                                TXT records
                                {% for txt_record in txt %}<li>{{ txt_record }}</li>{% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </body>
</html>
