{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WHOIS and DNS Lookup</title>
    </head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <input class="button" type="button" onclick="window.location.href='/';" value="Home"/>
        <h1>Domain Lookup</h1>  
        <form class="form" method="post">
            <input type="text"
                    class="text"
                   id="domain"
                   name="domain"
                   size="40"
                   value="{{ domain }}"
                   autocomplete="off">
            <input class="button" type="submit" value="Lookup">
        </form>
            {% if e %}{{ e }}{% endif %}
        {% if no_domain %}Domain does not exist.{% endif %}
        {% if domain_name %}
            <div class="row" >

                    <ul class="no-bullets">
                        WHOIS lookup
                        <li>Domain Name: {{ domain_name }}</li>
                        <li>Registrar: {{ registrar }}</li>
                        <li>Updated Date: {{ updated_date }}</li>
                        <li>Creation Date: {{ creation_date }}</li>
                        <li>Expiration Date: {{ expiration_date }}</li>
                        <br>
                        <ul>
                            Name Servers
                        {% if name_servers|length < 5 %}
                            {% for ns in name_servers %}<li>{{ ns }}</li>{% endfor %}
                        {% else %}
                            <li>{{ name_servers }}</li>
                        {% endif %}
                        </ul>
                        <br>
                        <ul>
                            Status
                            {% if status|length < 15 %}
                                {% for s in status %}<li>{{ s }}</li>{% endfor %}
                            {% else %}
                                <li>{{ status }}</li>
                            {% endif %}
                        </ul>
                    </ul>
                    <ul class="no-bullets">
                        DNS records
                        <li>
                            <ul>
                                {{ domain_name }}
                                {% for a_record in blank_a %}<li>{{ a_record }}</li>{% endfor %}
                            </ul>
                        </li>
                        <br>
                        <li>
                            <ul>
                                www.{{ domain_name }}
                                {% for a_record in www_a %}<li>{{ a_record }}</li>{% endfor %}
                            </ul>
                        </li>
                        <br>
                        <li>
                            <ul>
                                MX records
                                {% for mx_record in mx %}<li>{{ mx_record }}</li>{% endfor %}
                            </ul>
                        </li>
                        <br>
                        <li>
                            <ul>
                                Name Servers
                                {% for dns_server in ns %}<li>{{ dns_server }}</li>{% endfor %}
                            </ul>
                        </li>
                        <br>
                        <li>
                            <ul>
                                TXT records
                                {% for txt_record in txt %}<li>{{ txt_record }}</li>{% endfor %}
                            </ul>
                        </li>
                    </ul>
            </div>
        {% endif %}
    </body>
</html>
