{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sort of Support Tools</title>
    </head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <h1 >Sort of Support Tools</h1>
        <form class="form">
        <input class="button" type="button" onclick="window.location.href='/mx_converter';" value="MX Converter"/>
        <input class="button" type="button" onclick="window.location.href='/domain';" value="Domain Lookup"/>
        </form>
    </body>
</html>
