{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MX Converter</title>
    </head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <input class="button" type="button" onclick="window.location.href='/';" value="Home"/>
        <h1 >MX Converter</h1>
        <form class="form" method="post">
            <textarea class="textarea" rows="20" cols="60" name="mx">{{ mx }}</textarea>
            <input class="button" type="submit" value="Format">
        </form>
    </body>
</html>
